.AccueilContainer {
  font-family: Arial, sans-serif;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.MainContent {
  max-width: 910px;
  margin: 0 auto;
}

.MainTitle {
  font-size: 24px;
  margin-bottom: 6%;
  color: #333;
}

.ImagesRow {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative; 
}

.ImageContainer1, .ImageContainer2, .ImageContainer3, .ImageContainer4 {
  flex: 0 1 calc(50% - 20px);
  box-sizing: border-box;
  position: absolute; 
  width: 50%; 
}


.ImageContainer2 {
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-left: 38%;
  margin-top: 10%;
}

.ImageContainer1 {
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-left: 2%;
}

.ImageContainer4 {
  margin-left: 52%;
  top: 65vh;
  z-index: 1;
  margin-top: 10%;
}

.ImageContainer3 {
  margin-right: 20%;
  top: 80vh;
  z-index: 2;
  margin-top: 10%;
}

.ImageContainer img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.Description {
  font-size: 16px;
  color: #171717;
  margin-bottom: 20px;
  clear: both;
  position: relative;
  top: 2%;
  z-index: 4;
  width: 78vh;
  left: 50%;
}

.Description2 {
  font-size: 16px;
  color: #171717;
  margin-bottom: 20px;
  clear: both;
  position: relative;
  top: 80vh;
  z-index: 4;
  width: 78vh;
  right: 8%;
}

.StartButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b5cde7;
  color: #193356;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 140vh;
  margin-left: 80vh;
}

.StartButton:hover {
  background-color: #d2e1f0;
}
