.help-container {
    width: 80%;
    margin-top:88%;
    margin: 50px auto; 
    padding: 50px; 
    text-align: center;
    border-radius: 10px; 
}

.help-container img {
    width: 150px;
    margin-left: 20%;
    z-index: 4;
    position: absolute;
    top: 18%;
  }

  .help-container h1 {
    color: #183255;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 5%;
  }

.help-container p {
    font-size: 16px;
    color: #183255; 
    margin-bottom: 1%; 
    line-height: 1.5; 
}

.help-container button {
    width: 220px; 
    margin: 10px 20px;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 10px 15px;
    border: none;
    background-color: #183255; 
    color: white;
    font-size: 14px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.help-container button:hover {
    background-color: #0f1c2d; 
}

/* AIDE FORMULAIRE */

.besoin-aide-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
}

.besoin-aide-form h1, .besoin-aide-form p {
    text-align: center;
}

.besoin-aide-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.besoin-aide-form input, .besoin-aide-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.besoin-aide-form button {
    padding: 10px 20px;
    background-color: #183255;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.besoin-aide-form button:hover {
    background-color: #0f1c2d;
}

/* AVIS GLOBAL */

.avis-global-form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjust based on your layout needs */
    margin: 40px auto;
}

.avis-global-form h1, .avis-global-form p {
    text-align: center;
    color: #183255;
}

.avis-global-form details {
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avis-global-form summary {
    font-size: 16px;
    color: #183255;
    cursor: pointer;
    outline: none;
}

.avis-global-form summary::marker {
    display: none;
}

.avis-global-form input, .avis-global-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.avis-global-form button {
    width: 100%;
    padding: 10px 20px;
    background-color: #183255;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.avis-global-form button:hover {
    background-color: #0f1c2d;
}

/* Animation for the accordion opening */
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}