.help-container {
    width: 80%;
    margin-top:88%;
    margin: 50px auto; 
    padding: 50px; 
    text-align: center;
    border-radius: 10px; 
}

.help-container img {
    width: 150px;
    margin-left: 20%;
    z-index: 4;
    position: absolute;
    top: 18%;
  }

  .help-container h1 {
    color: #183255;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 5%;
  }

.help-container p {
    font-size: 16px;
    color: #183255; 
    margin-bottom: 1%; 
    line-height: 1.9; 
}

/* AIDE FORMULAIRE */
.besoin-aide-title{
    font-size: 28px;
    margin-top: 4%;
    text-decoration: underline;
    color: #183255;
}

/* AVIS GLOBAL */

.avis-global-title{
    font-size: 28px;
    margin-top: 4%;
    text-decoration: underline;
    color: #183255;
}

@media screen and (max-width: 360px) {
    .help-container {
    width: 90%;
      margin: 20px auto;
      padding: 15px;
    }
  
    .help-container img {
      width: 80px;
      margin-left: 0;
      top: 0;
      position: relative;
    }
  
    .help-container h1 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .help-container p {
      font-size: 11px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  
    /* Aide Formulaire Title */

    .besoin-aide-form{
      width: 80%;
      margin-top: 20%;
      margin-bottom: 10%;
   }

    .besoin-aide-form textarea{
      width: 90%;
    }

    .besoin-aide-form input{
      width: 90%;
    }

    .besoin-aide-container p{
      margin-top: 10%;
      font-size: 13px;
    }

    .besoin-aide-title {
      font-size: 20px;
      margin-top: 10%;
    }
  
    /* Avis Global Title */
    .avis-global-title {
      font-size: 20px;
      margin-top: 10%;
      margin-bottom: 18%;
    }
  }